div {
    margin-left: 50%;
}

.line {
    margin-top: -1vh;
    margin-left: 50%;
    background-color: black;
    position: fixed;
    height: 101vh;
    width: 10px;
    border-radius: 1px;
}

.points {
    margin-top: -1vh;
    margin-left: 50%;
    background-color: black;
    position: fixed;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    left: 2.5px;
}

.event-one {
    top: 20vh;
    position: fixed;
}

.event-two {
    top: 35vh;
    position: fixed;
}

.event-three {
    top: 50vh;
    position: fixed;
}

.event-four {
    top: 65vh;
    position: fixed;
}

.event-five {
    top: 80vh;
    position: fixed;
}

details {
    margin-left: -50%;
    width: 250px;
    border: 1px solid #aaa;
    font-family: sans-serif;
    border-radius: 3px;
    padding: 0.5em 0.5em 0;
}
  
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
  
details[open] {
    padding: 0.5em;
}
  
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
